{% extends "base.html.jinja" %}
{% block head %}
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<link rel="stylesheet" href="/css/txt.css">
{% endblock head %}
{% block body %}
<div id="app" class="container">
<!-- <div class="txt-header">.: <a href="/">[home]</a> <a href="{{ data.up }}">[..]</a> | {{ data.ip }} :.

</div> -->
<div class="col-xs-8 col-xs-offset-2">
<!-- {{ data.content }} -->
<p class="msg-content text-center">[[ message ]]</p>

<div class="text-center"> <input class="next-button" v-on:click="getNew" type="button" value="Next"></div>
</div>
</div>

<script>
    var vm = new Vue({
        delimiters:['[[', ']]'],
        el: '#app',
        data: {
            message: '面对疾风吧！！！'
        },
        methods: {
            getNew: function (){
                axios
                .get('../msg')
                .then(response => (vm.message = response.data ))
                .catch(function (error) { // 请求失败处理
                  console.log(error);
                });
            }
        },  
      })
</script>

{% endblock body %}